<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LogErrorValidator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<applicationSettings>
		<LogErrorValidator.Properties.Settings>
   <setting name="ErrorLogs" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>MASA info source disconnected</string>
      <string>No data from MASA info source for 60 seconds</string>
      <string>Failed to open file</string>
      <string>Failed to execute SQL command</string>
      <string>Failed to access database</string>
      <string>SQL returned message:</string>
      <string>SQL error</string>
      <string>was deadlocked</string>
      <string>Error: Failed to process</string>
      <string>GetStartTask - Failed</string>
      <string>CADOCommand Error</string>
      <string>Database can not be opened.</string>
      <string>CADODataBase Error</string>
      <string>Source disconnected.</string>
      <string>Connect Server: Fail</string>
      <string>Failed to generate OPX msg</string>
      <string>GetExecutionStatus - Failed</string>
      <string>GetStartTask - Database connection broken</string>
      <string>Database returned error message</string>
      <string>Database cannot be opened</string>
      <string>No Table Field to Update</string>
      <string>Data source disconnected</string>
      <string>No data from source for 60 seconds</string>
      <string>SQL Server does not exist or access denied</string>
      <string>Failed to Connected</string>
      <string>RFProcessorInput_GetFailed to connect FTP Server</string>
      <string>RFProcessorInput_Get - FTP File(s) Process fail</string>
      <string>System is not ready to request trading status</string>
      <string>Port [7100] is not ready to receive connection.</string>
      <string>COM ERROR</string>
      <string>Disconnected from Order Response Queue</string>
      <string>Disconnected due to not responding to the rest request</string>
      <string>Disconnected due to sequence number is smaller than expected</string>
      <string>(MMTP &amp; Disconnected)</string>
      <string>(MMTP &amp; Physical connection lost)</string>
      <string>(Failed to load &amp; ~(Failed to load stock history info))</string>
      <string>(Info: Total of [&gt;100] message(s) in queue)</string>
     </ArrayOfString>
    </value>
   </setting>
  </LogErrorValidator.Properties.Settings>
	</applicationSettings>
</configuration>
